#main{
    text-align: center
}
.table{
    
}
.bootdiv{
    height:200px;
    background:hotpink;
}

.green{
    background:green
}

.red{
    background:red
}

.slateblue{
    background:slateblue
}
.olive{
    background: olive
}
.orange{
    background: orange
}
.btn-success{
    
}